<div class="m-4">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Edit</th>
      <th scope="col">Back</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @meeting.name %></td>
      <td><%= @meeting.start_time %></td>
      <td><%= @meeting.end_time %></td>
      <td><%= link_to 'Edit', edit_meeting_path(@meeting) %></td>
      <td><%= link_to 'Back', meetings_path %></td>
      <td><%= link_to 'Delete', @meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>
</div>
